#list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .list_item {
    position: relative;
    width: 210px;
    height: 260px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 40px;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #eaeaea;
  }
  
  .product_image {
    width: 130px;
    height: 112px;
  }
  
  .liked {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    left: 25px;
    border: none;
    cursor: pointer;
  }
  
  .product_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container_price {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .btn_product {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    color: #d3d3d3;
    font-size: 24px;
    background-color: #fff;
    cursor: pointer;
  }